.me {
    margin-top: 50px;
    background-color: #525252;
    color: white;
    width: 100%;
    height: 240px;
}

h2 {
    font-weight: bold !important;
}

h3 {
    font-size: 20px !important;
}

h4 {
    font-weight: bold !important;
}

.portrait-photo {
    border-radius: 50%;
}

article>h2 {
    background-color: #a8a8a8;
    width: 100%;
}

.right>h2 {
    text-align: center;
    background-color: #a8a8a8;
    width: 100%;
}

button {
    width: 100%;
    cursor: pointer;
}


form {
    color: white;
    background-color: #525252;
    clear: both;
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 20px;
}